/* styles/gradientText.module.css */
.gradientText {
    background: linear-gradient(90deg, #942252, #412B81); /* Replace with your gradient colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  /* .textAnimate {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block; */
    /* animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite; */
    /* transition: transform cubic-bezier(0.165, 0.84, 0.44, 1) 1s .1s;
    
  } */

  .textAnimate {
    animation: 2s anim-lineUp ease-out;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
  /* @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from,
    to {
      border-right-color: transparent;
    }
    50% {
      border-right-color: black;
    }
  } */