.container {
    /* display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start; */
    padding: 60px;
}
.blogsHeadText {
    font-size: 40px;
    font-weight: bold;
}
.image{
width: 100%;
height: 100%;
}
/* .paraStyles{
    padding-top: 30px;
} */
/* .joinBannerStyles{
    padding: 80px;
} */

.blogsText {
    font-size: 28px;
    font-weight: bold;
}


.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Ensure exactly three items per row */
    gap: 44px 32px;
}

.gridItem {
    width: 100%;
    /* Adjust as necessary */
}

.itemCard {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* border: 1px solid #ccc; */
    /* Optional: add border */
    /* border-radius: 8px; */
    /* Optional: add border radius */
    overflow: hidden;
    /* Optional: ensure content does not overflow */
}

.itemImage {
    width: 414px;
    height: 414px;
    object-fit: cover;
}

.itemContent {
    margin-top: 10px;
}
.itemTitle {
    margin: 0;
    font-size: 18px;
    font-weight:bold;
    line-height: 1.4;/* Adjust line height for better readability */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* Show dots (...) if content overflows */
    text-align: left;
}

.name {
   
    text-align: left;
    margin-top: 7px;
}

.nameText {
    margin-top: 8px;
    color: #696969;
    font-size: 13px;
    
    /* Adjust text color */
}
.nameTextColor{
font-weight: 600;
}
.timeText {
    margin-top: 8px;
    color: #666;
    font-size: 12px;
    /* Adjust text color */
}
.itemTimings {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}
/* .header {
    
    align-items: center;
    margin-bottom: 20px;
    margin-top: 70px;
} */
/* .ownerName{
    display: flex;
    justify-content: space-between;
   margin-bottom: 30px;
} */
/* .imageDetailSection{
    padding-top: 40px;
        padding-bottom: 40px;
} */
/* .nameByText{
    margin-top: 5px;
        color: #696969;
        font-size: 13px;
        font-weight: 500;
} */
.categorySlide {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    height: 414px;
    width: 100%;
}




/* components/IntroSection.module.css */

.swiperSlide {
    position: relative;
    width: 414px;
    /* Adjust width as per your design */
    height: 414px;
    /* Adjust height as per your design */
    margin-right: 15px;
}

.slideImage {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.8s ease-in-out;
    /* Adjusted transition duration */
}

.slideContent {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    /* Initial background color for hover */
    opacity: 0;
    /* Initially hidden */
    transition: opacity 0.8s ease-in-out;
    /* Adjusted transition duration */
}

.swiperSlide:hover .slideContent {
    opacity: 1;
    /* Show content on hover */
}

.slideContent:hover {
    cursor: pointer;
    /* Show pointer cursor on hover */
}

.slideOverlay {
    position: absolute;
    inset: 0;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    /* Adjusted transition duration */
}

.swiperSlide:hover .slideOverlay {
    opacity: 1;
    /* Show overlay on hover */
}

.swiper-slide-active.w-full.category-slide {
    width: 100% !important;
}



/* BlogsDetails.module.css */

.contentWrapper h1 {
    font-size: 2rem; /* Adjust as needed */
    color: #1a1a1a;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .contentWrapper h2 {
    font-size: 1.5rem;
    color: #1a1a1a;
    font-weight: bold;
    margin-bottom: 18px;
  }
  
  .contentWrapper h3 {
    font-size: 1.25rem;
    color: #1a1a1a;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .contentWrapper h4 {
    font-size: 1rem;
    color: #1a1a1a;
    font-weight: bold;
    margin-bottom: 14px;
  }
  
  .contentWrapper h5 {
    font-size: 0.75rem;
    color: #1a1a1a;
    font-weight: bold;
    margin-bottom: 12px;
  }
  
  .contentWrapper h6 {
    font-size: 0.5rem;
    color: #1a1a1a;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .contentWrapper p {
    font-size: 16px; /* Default paragraph size */
    color: #333;
    line-height: 1.6;
    margin-bottom: 16px;
  }
  
  .contentWrapper strong {
    font-weight: bold;
    color: #000;
  }
  
  .contentWrapper a {
    font-size: 16px; /* Same as paragraph size */
    color: #A92449; /* Custom link color */
    /* text-decoration: underline; */
  }
  .contentWrapper a:hover {
    font-size: 16px; /* Same as paragraph size */
    color: #439787; /* Custom link color */
    /* text-decoration: underline; */
  }
  
  .contentWrapper a:hover {
    color: #0056b3;
    text-decoration: none;
  }
  
  .contentWrapper img {
    max-width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .contentWrapper ul,
  .contentWrapper ol,.contentWrapper li {
    margin-left: 20px;
    font-size: 16px; /* Same as paragraph size */
  }

  
  .contentWrapper blockquote {
    border-left: 4px solid #ccc;
    padding-left: 16px;
    margin: 16px 0;
    color: #555;
    font-size: 16px; /* Larger font size for emphasis */
    font-style: italic;
  }
  