/* components/ProductCard.module.css */
.productCard {
    text-align: center;
    position: relative;
    max-height:450px
  }
  
  .discountBadge {
    background-color: #fff;
    color: #439787;
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 4px;
    position: absolute;
    top: 8px;
    left: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-transform: uppercase;
    z-index: 9;
    
  }
  
  .productImage {
    width: 260px;
    height: 250px;
    border-radius: 8px;
    margin-top: 40px;
  }
  
  .productTitle {
    font-size: 18px;
    margin: 16px 0 8px;
  
  }
  
  .productDescription {
    font-size: 14px;
    color: #555;
    margin-bottom: 16px;
  }
  
  .priceSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .addToCart {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .price {
    text-align: right;
  }
  
  .currentPrice {
    font-size: 18px;
    color: #333;
  }
  .addToCart:hover {
    background-color: #439787; /* Primary color on hover */
  }
  
  .originalPrice {
    font-size: 14px;
    color: #888;
    text-decoration: line-through;
    margin-left: 8px;
  }
  
  