.gradientText {
    background: linear-gradient(90deg, #942252, #412B81); /* Replace with your gradient colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }